<div id="openCaseDetails" class="page-layout simple left-sidebar inner-sidebar inner-scroll"
style="overflow: auto !important; padding-top: 80px;">
<mat-toolbar class="m-0 mat-accent">
  <mat-toolbar-row>
    <div fxFlex="1 0 auto">
      <!-- <mat-icon>
          list
      </mat-icon> -->
      <span style="
      padding-left: 12px;">
          Case Records
      </span>
  </div>

  <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center space-between">
   
      <button mat-raised-button (click)="close()" style="margin-left: 10px;"
         >
         Back
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<!-- <ngx-doc-viewer url="file:///C:/Users/Swati%20Kumbhar/Documents/segallCredentials.txt" viewer="google"  style="width:100%;height:93vh;">
</ngx-doc-viewer>  -->

<!-- <ngx-doc-viewer url="http://dev.rhealtech.com/downloads/segallCredentials.txt" viewer="google"  style="width:100%;height:93vh;">
</ngx-doc-viewer>  -->

<!-- <ngx-doc-viewer url="http://dev.rhealtech.com/downloads/NUMBERS.doc" viewer="google"  style="width:100%;height:50vh;">
</ngx-doc-viewer>  -->

<!-- <ngx-doc-viewer url="http://dev.rhealtech.com/HCBDoc/262020165851/CRM_HCBCredentials.txt" viewer="google"  style="width:100%;height:50vh;">
</ngx-doc-viewer>  -->
<!-- <div style="justify-content: space-between;padding-left: 482px;padding-top: 10px;">
<button color="accent" type="button" (click)="close()" style="
padding-left: 20px;
padding-right: 20px;
color: blue;
">
Back
</button>
</div> -->

<!-- 
<div #iframeId style="font-size: 12px;">{{ViewerUrl}}</div> -->



<!-- <ngx-doc-viewer [url]="ViewUrl" [viewerUrl]="ViewerUrl" viewer="url" style="width:100%;height:93vh;">
  <div *ngIf="working">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</ngx-doc-viewer>  -->


<!-- <ngx-doc-viewer [url]="ViewUrl" [viewer]="viewer"  style="width:100%;height:80vh;">
</ngx-doc-viewer>  -->


<div>
<iframe #iframe [src]="ViewUrl" frameborder="0" style="width:100%; height:900px;"></iframe>
</div>


</div>
<!-- <ngx-doc-viewer
[url]="ViewUrl"viewer="google" style="width:100%;height:50vh;">
</ngx-doc-viewer> -->

<!-- ViewUrl
<ngx-doc-viewer url="https://file-examples.com/wp-content/uploads/2017/02/file-sample_100kB.docx" viewer="google"  style="width:100%;height:93vh;">
</ngx-doc-viewer> -->    

 
