<div id="UserRecordDetails" class="page-layout simple inner-scroll">
    <mat-toolbar class="accent m-0  mb-md-0" >
        <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row" 
        fxLayoutAlign.gt-md="space-between center">
            <div class="logo mb-24 mb-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    list
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    User Records
                </span>
            </div>

            <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
               <span class="mr-8">
                   Total Users = {{TotalRecords}} 
                </span>
                <button mat-raised-button (click)="AddRecord()" matTooltip="Add Client Record" >
                    <mat-icon> add</mat-icon>User Record
                </button>
                <button mat-raised-button matTooltip="Filter Data" (click)="sidenav.toggle()" style="margin-left: 10px;">
                    <mat-icon>search</mat-icon>
                    Filters
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container style="height: 100%; padding: 16px;">
        <mat-sidenav #sidenav mode="over" position="end" style="width: 350px;" fusePerfectScrollbar>
            <div class="content p-24 mat-white-bg">
                <form name="FilterUserRecord" [formGroup]="FilterUserRecord" (ngSubmit)="Filter()" novalidate autocomplete="off">
                    <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="Full Name" formControlName="FullName">
                    </mat-form-field>

                    <mat-form-field style=" width: 100%;">
                            <mat-label>User Type</mat-label>
                        <mat-select formControlName="UserTypeId">
                            <mat-option [value]="0" selected>Select.....</mat-option>
                            <mat-option *ngFor="let a of UserType " [value]=a.userTypeId>{{a.userTypeDescription}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="contentCenter">
                        <div>
                            <button mat-raised-button color="accent" type="submit">Search</button>
                            <button mat-raised-button color="accent" type="button" (click)="Clear()" style="margin-left: 5px">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="mat-white-bg mat-elevation-z4" fusePerfectScrollbar>
            <div class="content-card p-0 mat-white-bg">
                <table mat-table [dataSource]="crmUserRecord" class="products-table" multiTemplateDataRows matSort (matSortChange)="sortChange($event)"
                    [matSortActive]="sortColumn" [matSortDirection]="sortDirection" matSortDisableClear>

                    <ng-container matColumnDef="FullName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b> Full Name</b>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="UserType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>User Type</b>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.userType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="AccountActive">
                        <th mat-header-cell *matHeaderCellDef>
                            <b>Status</b>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.accountActive}} </td>
                    </ng-container>

                    <ng-container matColumnDef="EmailAddress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Email Address</b>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <button  mat-icon-button matTooltip="Edit" (click)="EditUserRecord(element.userID)">
                                <mat-icon [color]="'accent'">edit</mat-icon>
                            </button>
                            <!-- <button mat-icon-button matTooltip="Delete" (click)="deleteUserRecord(element.userID)">
                                <mat-icon [color]="'accent'">delete</mat-icon>
                            </button>  -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[15, 25, 50, 100, 500]" [length]="TotalRecords" [pageIndex]="pageIndex" [pageSize]="pageSize"
                    (page)="pageChanged($event)" showFirstLastButtons>
                </mat-paginator>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>