<div id="account-contact" class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    note
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Account Contact
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="m-0" fusePerfectScrollbar>
        <form name="AccountContact" [formGroup]="AccountContact" class="pt-12 pb-12" (ngSubmit)="Save()" novalidate autocomplete="off">

            <mat-form-field class="example-column">
                <mat-label> Name</mat-label>
                <input matInput formControlName="fullName" required>
                <mat-error *ngIf="AccountContact.get('fullName').hasError('required')"
                class="alert alert-danger">Required</mat-error>
            </mat-form-field>

            <mat-form-field class="example-column example-margin">
                <mat-label>Telephone No</mat-label>
                <input matInput formControlName="telephoneNumber"   maxLength="20">
                <mat-error *ngIf="AccountContact.get('telephoneNumber').errors && AccountContact.get('telephoneNumber').errors.maxLength">
                    Invalid</mat-error> 
            </mat-form-field>

            <mat-form-field class="example-column">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="emailAddress"
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9_\-\.]+$">
                <mat-error
                *ngIf="AccountContact.get('emailAddress').errors && AccountContact.get('emailAddress').errors.pattern">
                Invalid email address.
            </mat-error>
            </mat-form-field>

            <mat-form-field class="example-column example-margin">
                <mat-label>PO Number (if Required)</mat-label>
                <input matInput formControlName="instructions" readonly>
            </mat-form-field>

            <mat-form-field class="example-column">
                <mat-label>	Agreed Payment Terms</mat-label>
                <input matInput formControlName="paymentTerms">
            </mat-form-field>

            <div class="contentCenter p-12">
                <div>
                    <button mat-raised-button color="accent" type="submit" [disabled]="AccountContact.invalid">
                        Save
                    </button>
                    <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()"
                        style="margin-left: 10px;">
                        Cancel
                    </button>
                </div>
                <div *ngIf="errorText" class="mt-16">
                    <p style="color: red;">{{ errorText }}</p>
                </div>
                <div *ngIf="working" class="mt-16">
                    <mat-spinner [diameter]="25"></mat-spinner>
                </div>
            </div>
        </form>
    </div>
</div>