<div id="addEditIllnessInjury" class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            person_outline
          </mat-icon>
          <span class="logo-text h2" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
      Action
          </span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <div mat-dialog-content class="m-0" fusePerfectScrollbar>
      <form name="IllnessInjury" [formGroup]="IllnessInjury" class="pt-12 pb-12" (ngSubmit)="SaveIllnessInjury()" novalidate autocomplete="off">
    
        <mat-form-field style="width: 100%;">
          <mat-label>Action</mat-label>
          <div style="padding-top:10px;"></div>
          <input matInput formControlName="Name"> 
          <mat-error *ngIf="IllnessInjury.controls['Name'].hasError('required')" class="alert alert-danger">Required</mat-error>
          <mat-error *ngIf="IllnessInjury.controls['Name'].hasError('NameTaken') && IllnessInjury.controls['Name'].touched">Name already exist</mat-error>            
        </mat-form-field>
  
        <div class="contentCenter p-12">
          <div>
            <button mat-raised-button color="accent" type="submit" [disabled]="IllnessInjury.invalid">
              Save
            </button>
            <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()" style="margin-left: 10px;">
              Cancel
            </button>
          </div>
          <div *ngIf="errorText" class="mt-16">
            <p style="color: red;">{{ errorText }}</p>
          </div>
          <div *ngIf="working" class="mt-16">
            <mat-spinner [diameter]="25"></mat-spinner>
          </div>
        </div>
      </form>
    </div>
  </div>
