
<div id="CaseActivity" class="dialog-content-wrapper">

  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          note
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Case Activity
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="m-0">
    <form name="CaseActivity" [formGroup]="CaseActivity" class="pt-12 pb-12" novalidate autocomplete="off">

      <mat-form-field class="example-column">
        <input matInput [matDatepicker]="DateOfActivity" placeholder="Date of Activity" aria-invalid="false"
        formControlName="DateOfActivity">
      <mat-datepicker-toggle matSuffix [for]="DateOfActivity" >
      </mat-datepicker-toggle>
      <mat-datepicker #DateOfActivity></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-column example-margin">
        <mat-label>Claims Assessor</mat-label>
        <mat-select formControlName="ClaimAssessorId">
          <mat-option *ngFor="let P of getddlClaimAssessor" [value]="P.id">
            {{P.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-column">
        <mat-label>Action</mat-label>
        <mat-select formControlName="ActionId">
          <mat-option *ngFor="let P of getddlAction" [value]="P.id">
            {{P.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-column example-margin">
        <mat-label>Service Provider</mat-label>
        <mat-select formControlName="ServiceProviderId">
          <mat-option *ngFor="let P of getddlServiceProvider" [value]="P.spCompanyID">
            {{P.spCompanyName}}</mat-option>
        </mat-select>
      </mat-form-field>


      <!-- <mat-form-field class="example-column2">
              <mat-label>Expected RTW Date (Maximum)</mat-label>
              <input matInput formControlName="ExpectedMaximumRTWDate">
            </mat-form-field> -->

      <mat-form-field class="example-column">
        <input matInput [matDatepicker]="ReportDueBy" placeholder="Report Due by" aria-invalid="false"
          formControlName="ReportDueBy">
        <mat-datepicker-toggle matSuffix [for]="ReportDueBy">
        </mat-datepicker-toggle>
        <mat-datepicker #ReportDueBy></mat-datepicker>
</mat-form-field>


      <div class="contentCenter p-12">
        <div>
          <button mat-raised-button color="accent" type="submit" (click)=" SaveCaseActivity()">
            Save
          </button>
          <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()" style="margin-left: 10px;">
            Cancel
          </button>
        </div>
        <div *ngIf="errorText" class="mt-16">
          <p style="color: red;">{{ errorText }}</p>
        </div>
        <div *ngIf="working" class="mt-16">
          <mat-spinner [diameter]="25"></mat-spinner>
        </div>
      </div>
    </form>
  </div>
</div>