<div id="openCases" class="page-layout simple left-sidebar inner-sidebar inner-scroll " style=" padding-top: 80px;" fusePerfectScrollbar>

    <mat-toolbar class="accent m-0  mb-md-0">
        
        <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row"
            fxLayoutAlign.gt-md="space-between center">
            <div class="logo mb-24 mb-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    list
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  L&G Import Case
                </span>
            </div>
            </mat-toolbar-row>
            </mat-toolbar>
<!-- <div>
              <input hidden type="file" #DocumentfileInput (change)="handleFileInput($event.target.files)" />
                        <button mat-raised-button type="button" color="accent" class="add-file-button"
                          (click)="DocumentfileInput.click()" aria-label="Add file">
                          <mat-icon>add</mat-icon>
                          Document
                        </button>
                        <p style="display: inline-block; margin-left: 1%;">
                          <b>{{ DocumentfileInput?.files[0]?.name }}</b></p>
                      </div> -->
                      <div style="text-align: center;margin-top: 30px;">
                        <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
                          <div style="width: 95%;">
                            <div class="file-uploader">Please upload bulk import file&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <input hidden type="file" #DocumentfileInput (change)="addfile($event,$event.target.files)" />
                              <button mat-raised-button type="button" color="accent" class="add-file-button"
                                (click)="DocumentfileInput.click()" aria-label="Add file">
                                <mat-icon>add</mat-icon>
                                Document
                              </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <!-- <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">   -->
                              <button mat-raised-button color="accent" class="submit-button mr-8" 
                              type="button" (click)="UploadFile()">
                              Upload
                            </button>
                            </div>
                            <!-- <mat-progress-bar class="mt-16 mb-16" [color]="'warn'" mode="determinate" [value]="progress">
                            </mat-progress-bar> -->
                          </div>
                        </div>
                      </div>
      
                      <div style="text-align: center;margin-top: 6x;width: 80%;">
                        
                        <p style="display: inline-block; margin-left: 30%;">
                          <b>{{ DocumentfileInput?.files[0]?.name }}</b></p>
                      </div>
                      <div class="contentCenter p-24" *ngIf="(working)">
                        <div *ngIf="working">
                            <mat-spinner [diameter]="40"></mat-spinner>
                        </div>
                        <div *ngIf="successMSG">
                            <p style="color: red;">{{ Response }}</p>
                        </div>
                    </div>
                      <div style="text-align: center;margin-top: 10px;" *ngIf="ShowerrorTBL">
                    <!-- Error Ocurred for Claimant {{this.FirstName}} -->
                    <mat-sidenav-container style="height: 100%; padding: 16px;">
                      <mat-sidenav-content class="mat-white-bg mat-elevation-z4" fusePerfectScrollbar>
                    <div class="content example-container" fxLayout="row wrap" style="height: 100%;" fusePerfectScrollbar>
                      <div class="content-card p-0 mat-white-bg">
                       
                              <table mat-table [dataSource]="ErrorGrid" matSort class="products-table">
          
                              <ng-container matColumnDef="No">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50%; padding-left: 21%;"><b>Claimant Name</b> </th>
                                  <td mat-cell *matCellDef="let element"> {{element.claimantFullName}} </td>
                              </ng-container>
          
                              <ng-container matColumnDef="Message">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50%; padding-left: 20%;"><b>Message</b> </th>
                                  <td mat-cell *matCellDef="let element"> {{element.resultStatement}} </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                          <!-- <mat-paginator #paginator1 [pageSizeOptions]="[2,15,20]" showFirstLastButtons>
                          </mat-paginator> -->
                          <!-- <mat-paginator [pageSizeOptions]="[10,15, 20]" showFirstLastButtons></mat-paginator> -->
                          <!-- <mat-paginator [pageSizeOptions]="[5, 15, 25, 50, 100]" [length]="TotalRecords"
                              [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="pageChanged($event)" showFirstLastButtons>
                          </mat-paginator> -->
                      </div>
                    
                        </div>
                      </mat-sidenav-content>
                      </mat-sidenav-container>
                        </div>
            </div>

