<!--
    *ngIf="true" hack is required here for router-outlet to work
    correctly. Otherwise, it won't register the changes on the
    layout and won't update the view.
 -->
<!-- <div>
    ZXBmdb
</div> -->
<!-- <mat-toolbar class="TopToolBar m-0  mb-md-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row"
            fxLayoutAlign.gt-md="space-between center">
            <div class="logo mb-24 mb-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    assignment_turned_in
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Insurance DRP
                </span>
            </div>

            <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <button *ngIf="!canEdit" mat-raised-button (click)="AddInsuranceDrp()" matTooltip="Add Insurance DRP">
                    <mat-icon>add</mat-icon>Insurance DRP
                </button>
                <button mat-raised-button matTooltip="Filter Data" (click)="sidenav.toggle()"
                    style="margin-left: 10px;">
                    <mat-icon>search</mat-icon>
                    Filters
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar> -->
<router-outlet *ngIf="true"></router-outlet>