<div id="openCases" class="page-layout simple inner-scroll" style=" padding-top: 80px;">

    <mat-toolbar class="accent m-0  mb-md-0">
        <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row"
            fxLayoutAlign.gt-md="space-between center">
            <div class="logo mb-24 mb-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    list
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Case Records
                </span>
            </div>

            <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center space-between">
                <!-- <mat-form-field fxFlex="15">
                    <mat-label>Client</mat-label>
                    <mat-select #select [(ngModel)]="SetCases" (selectionChange)="onCaseChange($event)">
                        <mat-option value=2>All</mat-option>
                        <mat-option value=1>Open Cases</mat-option>
                        <mat-option value=0>Closed Cases</mat-option>
                    </mat-select>
                </mat-form-field> -->
                <!-- <button mat-raised-button [disabled]="AddCaseDisabled" (click)="AddCaseRecord()"
                    style="margin-left: 10px;" matTooltip="Add Case Record">
                    <mat-icon>add</mat-icon>Case Record
                </button> -->
                <span class="mr-8">
                    Total Case(s) = {{TotalRecords}}
                </span>
                <button mat-raised-button *ngIf="AddCaseDisabled" (click)="AddCaseRecord()" style="margin-left: 10px;"
                    matTooltip="Add Case Record">
                    <mat-icon>add</mat-icon>Case Record
                </button>
                <button mat-raised-button matTooltip="select Case" (click)=select.open() style="margin-left: 10px;">
                    {{CaseTitle}}<mat-icon style="margin-left: 5px;">arrow_drop_down</mat-icon>
                    <mat-select #select (selectionChange)="onCaseChange($event)"
                        style="width: 0px;">
                        <mat-option value=2>All</mat-option>
                        <mat-option value=1>Open Cases</mat-option>
                        <mat-option value=0>Closed Cases</mat-option>
                    </mat-select>
                </button>

                <button mat-raised-button matTooltip="Filter Data" (click)="sidenav.toggle()"
                    style="margin-left: 10px;">
                    <mat-icon>search</mat-icon>
                    Filters
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container style="height: 100%; padding: 16px;">
        <mat-sidenav #sidenav mode="over" position="end" style="width: 350px;" fusePerfectScrollbar>
            <div class="content p-24 mat-white-bg">
                <form name="filterDrp" [formGroup]="filterDrp" (ngSubmit)="Filter()" novalidate autocomplete="off">
                    <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="Reference Number" formControlName="refNo">
                    </mat-form-field>

                    <!-- <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="Client Name" formControlName="clientName">
                    </mat-form-field> -->
                    <mat-form-field style=" width: 100%;">
                        <mat-label>Client</mat-label>
                        <mat-select formControlName="clientName">
                            <mat-option *ngFor="let client of getddlClient" [value]="client.clientID">
                                {{client.companyName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <input matInput readonly [matDatepicker]="DOBpicker" placeholder="Claimant Date of Birth"
                            aria-invalid="false" formControlName="clientDOB">
                        <mat-datepicker-toggle matSuffix [for]="DOBpicker"> </mat-datepicker-toggle>
                        <mat-datepicker #DOBpicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <!-- <input matInput placeholder="Claim Assessor" formControlName="AssessorId"> -->
                        <mat-select formControlName="AssessorId" placeholder="Claim Assessor">
                            <mat-option *ngFor="let Assessor of getddlAssessorDetails" [value]="Assessor.id">
                              {{Assessor.name}}</mat-option>
                          </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Claimant First Name" formControlName="ClaimantFirstName">
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Claimant Last Name" formControlName="ClaimantLastName">
                    </mat-form-field>

                    <!-- <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Manager" formControlName="nurseName">
                    </mat-form-field> -->
                    <mat-form-field style="width: 100%;">
                        <mat-label>Case Owner</mat-label>
                        <mat-select formControlName="CaseMgrId">
                            <mat-option *ngFor="let caseOwner of getddlCaseOwner" [value]="caseOwner.userID">
                                {{caseOwner.fullName}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="contentCenter">
                        <div>
                            <button mat-raised-button color="accent" type="submit">Search</button>
                            <button mat-raised-button color="accent" type="button" (click)="Clear()"
                                style="margin-left: 5px">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="mat-white-bg mat-elevation-z4" fusePerfectScrollbar>
            <div class="content-card p-0 mat-white-bg">
                <table mat-table [dataSource]="hcbClientRecord" class="products-table" multiTemplateDataRows matSort
                    (matSortChange)="sortChange($event)" [matSortActive]="sortColumn" [matSortDirection]="sortDirection"
                    matSortDisableClear>

                    <ng-container matColumnDef="HCBReferenceNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Case No.</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.hcbReference}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ClientId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Client Name</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="ClaimantDOB">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Date of Birth</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.claimantDOB| date: "dd/MM/yyyy"}} </td>
                    </ng-container> -->
                    <ng-container matColumnDef="HCBReceivedDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Date Received</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.hcbReceivedDate| date: "dd/MM/yyyy"}} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="ClientContact">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Claim Accessor</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.clientContact}} </td>
                    </ng-container> -->

                    <ng-container matColumnDef="ServiceType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Service Type</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.serviceType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="CaseMgrId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Case Owner</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>
<!-- 
                    <ng-container matColumnDef="ClaimantFirstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Claimant First Name</b> </th>
                        <td mat-cell *matCellDef="let element"  style="padding-left: 25px;"> {{element.claimantFirstName}} </td>
                    </ng-container> -->
                    <ng-container matColumnDef="ClaimantName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Claimant/Employee<div>Name</div></b> </th>
                        <td mat-cell *matCellDef="let element" style="padding-left: 13px;"> {{element.claimantName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <button  mat-icon-button matTooltip="Edit" (click)="EditCaseRecord(element.hcbReferenceId)">
                                <mat-icon [color]="'accent'">edit</mat-icon>
                            </button> 
                            <button *ngIf="element.caseStatus==0" mat-icon-button matTooltip="Reopen" (click)="ReponeCase(element.hcbReferenceId)" [disabled]="ForCaseManager">
                                <mat-icon [color]="'accent'">settings_backup_restore</mat-icon>
                            </button></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- <mat-paginator [pageSizeOptions]="[10,15, 20]" showFirstLastButtons></mat-paginator> -->
                <mat-paginator [pageSizeOptions]="[15, 25, 50, 100, 500]" [length]="TotalRecords"
                    [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="pageChanged($event)" showFirstLastButtons>
                </mat-paginator>
            </div>
            <div class="contentCenter p-24" *ngIf="(working || errorText)">
                <div *ngIf="working">
                    <mat-spinner [diameter]="40"></mat-spinner>
                </div>
                <div *ngIf="errorText">
                    <p style="color: red;">{{ errorText }}</p>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>