<div id="Dashboard" class="page-layout simple left-sidebar inner-sidebar ">

    <div class="content ng-tns-c1-0" style="
    padding-top: 80px;">
       
        <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <div style="display: block;">

                        <div style="font-size: 16px;">Home</div>
                    </div>

                </ng-template>
                <div class="widget-group pl-4 pr-4" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                    [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
                    <fuse-widget fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="33.33">

                        <div class="fuse-widget-front mat-elevation-z2">
                            <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <b>OPEN CASES</b>
                                </div>

                                <button mat-icon-button fuseWidgetToggle aria-label="more">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </div>

                            <div class="pt-8 pb-10" fxLayout="column" fxLayoutAlign="center center">
                                <div>TOTAL OPEN CASES</div>
                                <div class="font-size-40 "
                                    style="margin-left: 10px;margin-bottom: 6px; color: #669933;">
                                    <!-- <mat-icon class="icon-display" aria-hidden="true">folder_open</mat-icon>&nbsp;&nbsp; -->
                                    {{TotalOpenCasesI+TotalOpenCasesR}}
                                </div>

                            </div>
                        </div>
                        <!-- / Front -->

                        <!-- Back -->
                        <div class="fuse-widget-back p-16 pt-32 mat-elevation-z2">
                            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="Flip widget">
                                <mat-icon class="s-16">close</mat-icon>
                            </button>

                            <div>
                                <div fxLayout="row" fxLayoutAlign="space-around">
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <div style="padding-right: 60px;">Insurance</div>
                                        <br>
                                        <div fxLayout="row" fxLayoutAlign="space-around">

                                            <button mat-raised-button
                                                class="accent mat-elevation-z2 p-4 mat-button-wrapper"
                                                style="margin-bottom: 13px;" (click)="GetListForTotalValues(0,1)">
                                                <mat-icon class="icon-display" aria-hidden="true">folder_open</mat-icon>
                                            </button>

                                            <div class="font-size-40 "
                                                style="margin-left: 10px;margin-bottom: 6px;color: #669933;">
                                                {{TotalOpenCasesI}}
                                            </div>

                                        </div>
                                    </div>
                                    <!-- new code -->
                                    <!-- <div class="toolbar-separator" fxHide.gt-md></div> -->
                                    <!-- <div fxLayout="row" fxLayoutAlign="space-around"> -->
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <div style="padding-right: 90px;">Retail</div>
                                        <br>
                                        <div fxLayout="row" fxLayoutAlign="space-around">
                                            <button mat-raised-button
                                                class="accent mat-elevation-z2 p-4 mat-button-wrapper"
                                                style="margin-bottom: 13px;" (click)="GetListForTotalValues(0,2)">
                                                <mat-icon class="icon-display" aria-hidden="true">folder_open</mat-icon>
                                            </button>

                                            <div class="font-size-40 "
                                                style="margin-left: 10px;margin-bottom: 6px;color: #669933;">
                                                {{TotalOpenCasesR}}
                                            </div>

                                            <!-- end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fuse-widget>


                    <fuse-widget fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="33.33">

                        <div class="fuse-widget-front mat-elevation-z2">
                            <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <b>CLOSED CASES</b>
                                </div>

                                <button mat-icon-button fuseWidgetToggle aria-label="more">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </div>

                            <div class="pt-8 pb-10" fxLayout="column" fxLayoutAlign="center center">
                                <div>TOTAL CLOSED CASES</div>
                                <div class="font-size-40 " style="margin-left: 10px;margin-bottom: 6px;color: #0085b6;">
                                    <!-- <mat-icon class="icon-display" aria-hidden="true">layers</mat-icon>&nbsp;&nbsp; -->
                                    {{TotalClosedCasesI+TotalClosedCasesR}}
                                </div>

                            </div>
                        </div>
                        <!-- / Front -->

                        <!-- Back -->
                        <div class="fuse-widget-back p-16 pt-32 mat-elevation-z2">
                            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="Flip widget">
                                <mat-icon class="s-16">close</mat-icon>
                            </button>

                            <div>
                                <div fxLayout="row" fxLayoutAlign="space-around">
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <div style="padding-right: 60px;">Insurance</div>
                                        <br>
                                        <div fxLayout="row" fxLayoutAlign="space-around">

                                            <button mat-raised-button
                                                class="warn mat-elevation-z2 p-4 mat-button-wrapper"
                                                style="margin-bottom: 13px;" (click)="GetListForTotalValues(1,1)">
                                                <mat-icon class="icon-display" aria-hidden="true">layers</mat-icon>
                                            </button>

                                            <div class="font-size-40 "
                                                style="margin-left: 10px;margin-bottom: 6px;color: #0085b6;">
                                                {{TotalClosedCasesI}}
                                            </div>

                                        </div>
                                    </div>
                                    <!-- new code -->
                                    <!-- <div class="toolbar-separator" fxHide.gt-md></div> -->
                                    <!-- <div fxLayout="row" fxLayoutAlign="space-around"> -->
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <div style="padding-right: 86px;">Retail</div>
                                        <br>
                                        <div fxLayout="row" fxLayoutAlign="space-around">
                                            <button mat-raised-button
                                                class="warn mat-elevation-z2 p-4 mat-button-wrapper"
                                                style="margin-bottom: 13px;" (click)="GetListForTotalValues(1,2)">
                                                <mat-icon class="icon-display" aria-hidden="true">layers</mat-icon>
                                            </button>

                                            <div class="font-size-40 "
                                                style="margin-left: 10px;margin-bottom: 6px; color: #0085b6;">
                                                {{TotalClosedCasesR}}
                                            </div>

                                            <!-- end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fuse-widget>




                    <fuse-widget fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="33.33">

                        <div class="fuse-widget-front mat-elevation-z2">
                            <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <b>AVERAGE RTW DURATION</b>
                                </div>

                                <button mat-icon-button fuseWidgetToggle aria-label="more">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </div>

                            <div class="pt-8 pb-10" fxLayout="column" fxLayoutAlign="center center">
                                <div>TOTAL AVERAGE RTW DURATION</div>
                                <div class="light-blue-fg font-size-40 " style="margin-left: 10px;margin-bottom: 6px;">
                                    <!-- <mat-icon class="icon-display" aria-hidden="true">bar_chart</mat-icon>&nbsp;&nbsp; -->
                                    {{TotalAverageDurationI+TotalAverageDurationR}}
                                </div>

                            </div>
                        </div>
                        <!-- / Front -->

                        <!-- Back -->
                        <div class="fuse-widget-back p-16 pt-32 mat-elevation-z2">
                            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="Flip widget">
                                <mat-icon class="s-16">close</mat-icon>
                            </button>

                            <div>
                                <div fxLayout="row" fxLayoutAlign="space-around">
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <div style="padding-right: 86px;">Insurance</div>
                                        <br>
                                        <div fxLayout="row" fxLayoutAlign="space-around">

                                            <button mat-raised-button
                                                class="deep-purple mat-elevation-z2 p-4 mat-button-wrapper"
                                                style="margin-bottom: 13px;" (click)="GetListForTotalValues(3,1)">
                                                <mat-icon class="icon-display" aria-hidden="true">bar_chart</mat-icon>
                                            </button>

                                            <div class="light-blue-fg font-size-40 "
                                                style="margin-left: 10px;margin-bottom: 6px;">
                                                {{TotalAverageDurationI}}
                                            </div>

                                        </div>
                                    </div>
                                    <!-- new code -->
                                    <!-- <div class="toolbar-separator" fxHide.gt-md></div> -->
                                    <!-- <div fxLayout="row" fxLayoutAlign="space-around"> -->
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <div style="padding-right: 86px;">Retail</div>
                                        <br>
                                        <div fxLayout="row" fxLayoutAlign="space-around">
                                            <button mat-raised-button
                                                class="deep-purple mat-elevation-z2 p-4 mat-button-wrapper"
                                                style="margin-bottom: 13px;" (click)="GetListForTotalValues(3,2)">
                                                <mat-icon class="icon-display" aria-hidden="true">bar_chart</mat-icon>
                                            </button>

                                            <div class="light-blue-fg font-size-40 "
                                                style="margin-left: 10px;margin-bottom: 6px;">
                                                {{TotalAverageDurationR}}
                                            </div>

                                            <!-- end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fuse-widget>

                    <fuse-widget class="widget" fxLayout="row" fxFlex="100">
                        <div class="fuse-widget-front mat-elevation-z2">

                            <div class="px-16 py-8 border-bottom" fxLayout="row wrap"
                                fxLayoutAlign="space-between center" style="height: 57px;">
                                <div class="headerText">Client Activity by Defined Dates</div>
                                <div fxflex="0 1 auto" fxLayout="row" style="position: relative;padding-left: 10%;">
                                    <form class="p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                                        name="ClientActivityByWeek" [formGroup]="ClientActivityByWeek">

                                        <mat-radio-group formControlName="ActivityFilter">
                                            <mat-radio-button [value]="2" class="example-ripple-checkbox"
                                                style="float: right;" (change)="ActivityByDefinedWeek(2)">
                                                This Year</mat-radio-button>
                                            <mat-radio-button [value]="1" class="example-ripple-checkbox mr-8"
                                                style="float: right;" (change)="ActivityByDefinedWeek(1)">This
                                                Month
                                            </mat-radio-button>
                                            <mat-radio-button [value]="0" class="example-ripple-checkbox mr-8"
                                                style="float: right;" (change)="ActivityByDefinedWeek(0)">This Week
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </form>
                                </div>
                                <button mat-icon-button fuseWidgetToggle aria-label="more">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </div>
                   
                            <div *ngIf="ClientActivityErrorMsg" class="contentCenter">
                                <p style="color: red;">No Data</p>
                            </div>
                            <div fxlayout="row wrap" fxlayoutalign="start start" class="ng-tns-c260-31"
                                style="flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: flex-start; align-items: flex-start;">
                                <div fxlayout="row" fxflex="100" fxflex.gt-sm="50" class="h-420 my-16 ng-tns-c260-31"
                                    style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 50%; max-width: 50%;">
                                    <div fxLayoutAlign="center center">
           
                                        <ngx-charts-bar-vertical-stacked [view]="view" [scheme]="colorSchemeV"
                                            [results]="mainChart4" [gradient]="gradient" [xAxis]="showXAxis"
                                            [yAxis]="showYAxis" [legend]=false [showXAxisLabel]="showXAxisLabel"
                                            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                                            [yAxisLabel]="yAxisLabel" [animations]="animations"
                                            >
                                        </ngx-charts-bar-vertical-stacked>
                                    </div>
                                </div>
                                <div class="my-16" fxFlex="100" fxLayout="row wrap" fxFlex.gt-sm="50">
                                    <div fxlayout="column" fxflex="100" fxflex.gt-sm="50" fxlayoutalign="center"
                                        class="mb-24 ng-tns-c260-31 ng-star-inserted"
                                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: stretch top; align-items: stretch; flex: 1 1 50%; max-width: 50%;">
                                        <div class="px-24 ng-tns-c260-31">
                                            <div><b>OPEN CASES</b></div>
                                            <div style="font-size:25px">{{openI+openR}}</div>
                                        </div>
                                        <div class="h-64 ng-tns-c260-31">
                                            <ngx-charts-area-chart [scheme]="colorSchemeOPN" [showXAxisLabel]="false"
                                                [showYAxisLabel]="false" [xAxis]="false" [yAxis]="false" [xAxisLabel]=""
                                                [yAxisLabel]="" [timeline]="timeline" [results]="mainChartOPN"
                                                [curve]="curve">
                                            </ngx-charts-area-chart>

                                        </div>

                                    </div>
                                    <div fxlayout="column" fxflex="100" fxflex.gt-sm="50" fxlayoutalign="center"
                                        class="mb-24 ng-tns-c260-31 ng-star-inserted"
                                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: stretch top; align-items: stretch; flex: 1 1 50%; max-width: 50%;">
                                        <div class="px-24 ng-tns-c260-31">
                                            <div><b>CLOSED CASES</b></div>
                                            <div style="font-size:25px">{{closeI+closeR}}</div>
                                        </div>
                                        <div class="h-64 ng-tns-c260-31">
                                            <ngx-charts-area-chart [scheme]="colorScheme" [showXAxisLabel]="false"
                                                [showYAxisLabel]="false" [xAxis]="false" [yAxis]="false" [xAxisLabel]=""
                                                [yAxisLabel]="" [timeline]="timeline" [results]="mainChartCLS"
                                                [curve]="curve">
                                            </ngx-charts-area-chart>

                                        </div>

                                    </div>
                                    <div fxlayout="column" fxflex="100" fxflex.gt-sm="50" fxlayoutalign="center"
                                        class="mb-24 ng-tns-c260-31 ng-star-inserted"
                                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: stretch top; align-items: stretch; flex: 1 1 50%; max-width: 50%;">
                                        <div class="px-24 ng-tns-c260-31">
                                            <div><b>OPEN CASES(Insurance)</b></div>
                                            <div style="font-size:25px">{{openI}}</div>
                                        </div>
                                        <div class="h-64 ng-tns-c260-31">
                                            <ngx-charts-area-chart [scheme]="colorSchemeOPN" [showXAxisLabel]="false"
                                                [showYAxisLabel]="false" [xAxis]="false" [yAxis]="false" [xAxisLabel]=""
                                                [yAxisLabel]="" [timeline]="timeline" [results]="mainChartOPNI"
                                                [curve]="curve">
                                            </ngx-charts-area-chart>

                                        </div>

                                    </div>
                                    <div fxlayout="column" fxflex="100" fxflex.gt-sm="50" fxlayoutalign="center"
                                        class="mb-24 ng-tns-c260-31 ng-star-inserted"
                                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: stretch top; align-items: stretch; flex: 1 1 50%; max-width: 50%;">
                                        <div class="px-24 ng-tns-c260-31">
                                            <div><b>CLOSED CASES (Insurance)</b></div>
                                            <div style="font-size:25px">{{closeI}}</div>
                                        </div>
                                        <div class="h-64 ng-tns-c260-31">
                                            <ngx-charts-area-chart [scheme]="colorScheme" [showXAxisLabel]="false"
                                                [showYAxisLabel]="false" [xAxis]="false" [yAxis]="false" [xAxisLabel]=""
                                                [yAxisLabel]="" [timeline]="timeline" [results]="mainChartCLSI"
                                                [curve]="curve">
                                            </ngx-charts-area-chart>

                                        </div>

                                    </div>
                                    <div fxlayout="column" fxflex="100" fxflex.gt-sm="50" fxlayoutalign="center"
                                        class="mb-24 ng-tns-c260-31 ng-star-inserted"
                                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: stretch top; align-items: stretch; flex: 1 1 50%; max-width: 50%;">
                                        <div class="px-24 ng-tns-c260-31">
                                            <div><b>OPEN CASES(Retail)</b></div>
                                            <div style="font-size:25px">{{openR}}</div>
                                        </div>
                                        <div class="h-64 ng-tns-c260-31">
                                            <ngx-charts-area-chart [scheme]="colorSchemeOPN" [showXAxisLabel]="false"
                                                [showYAxisLabel]="false" [xAxis]="false" [yAxis]="false" [xAxisLabel]=""
                                                [yAxisLabel]="" [timeline]="timeline" [results]="mainChartOPNR"
                                                [curve]="curve">
                                            </ngx-charts-area-chart>

                                        </div>

                                    </div>
                                    <div fxlayout="column" fxflex="100" fxflex.gt-sm="50" fxlayoutalign="center"
                                        class="mb-24 ng-tns-c260-31 ng-star-inserted"
                                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: stretch top; align-items: stretch; flex: 1 1 50%; max-width: 50%;">
                                        <div class="px-24 ng-tns-c260-31">
                                            <div><b>CLOSED CASES (Retail)</b></div>
                                            <div style="font-size:25px">{{closeR}}</div>
                                        </div>
                                        <div class="h-64 ng-tns-c260-31">
                                            <ngx-charts-area-chart [scheme]="colorScheme" [showXAxisLabel]="false"
                                                [showYAxisLabel]="false" [xAxis]="false" [yAxis]="false" [xAxisLabel]=""
                                                [yAxisLabel]="" [timeline]="timeline" [results]="mainChartCLSR"
                                                [curve]="curve">
                                            </ngx-charts-area-chart>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End -->
                        <div class="fuse-widget-back mat-elevation-z2">

                            <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                <!-- <div class="headerText">Client Activity by Defined Dates</div>
                     -->
                                <button mat-icon-button fuseWidgetToggle aria-label="fuse-widget-flip-button">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>



                            <form class="p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                                name="SchemeActivity" [formGroup]="SchemeActivity">

                                <div fxLayout="column" fxLayout.xs="column" fxLayout.md="column">
                                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="20px"
                                        fxLayoutGap.xs="0px" fxLayoutAlign="start">
                                        <div fxFlex="85">
                                            <mat-form-field appearance="outline" fxFlex="100">
                                                <mat-label>Select Client</mat-label>
                                                <mat-select formControlName="Scheme">
                                                    <mat-option [value]="0">--Select Client--</mat-option>
                                                    <mat-option *ngFor="let client of getddlClient"
                                                        [value]="client.clientID">
                                                        {{client.companyName}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="18">
                                            <div fxLayout="row" fxLayoutAlign="end start"
                                                fxLayoutAlign.md="center center" fxLayoutAlign.xs="center center"
                                                fxFlex="1 0 auto" fxLayoutGap="5px">

                                                <button mat-mini-fab class="accent" (click)="SearchCase()">
                                                    <mat-icon aria-hidden="true">check</mat-icon>
                                                </button>
                                                <button mat-mini-fab class="accent" (click)="ClearScheme()">
                                                    <mat-icon aria-hidden="true">close</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                    <div fxLayout="row" fxLayout.lg="column" fxLayoutAlign="start" fxLayoutGap="20px"
                                        fxLayoutGap.sm="20px" fxLayoutGap.xs="0px">

                                        <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100">
                                            <input matInput readonly [matDatepicker]="FromDatePicker"
                                                placeholder="From Date" aria-invalid="false"
                                                formControlName="SchemeStartDate">
                                            <mat-datepicker-toggle matSuffix [for]="FromDatePicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #FromDatePicker></mat-datepicker>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100">
                                            <input matInput readonly [matDatepicker]="ToDatePicker"
                                                placeholder="To Date" aria-invalid="false"
                                                formControlName="SchemeEndDate">
                                            <mat-datepicker-toggle matSuffix [for]="ToDatePicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #ToDatePicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutGap.sm=0px class="pt-24" fxLayoutAlign="start center"
                                    fxFlex="1 0 auto">
                                    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <button mat-raised-button color="accent"
                                            (click)="OpenCloseCaseSchemeActivity(1)"
                                            style="font-size: 20px;padding-top: 5px;padding-bottom: 5px;">New Cases
                                            ({{OpenScheme}})</button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </fuse-widget>



                    <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-widget-front mat-elevation-z2">

                            <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="headerText">Most Active Clients (Insurance)</span><span>Top 5
                                    Clients</span>
                            </div>

                            <form [formGroup]="ActiveClientsInsurance" name="ActiveClients" class="p-24"
                                fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                                <div fxLayout="column" fxLayout.xs="column" fxLayout.md="column" style="height: 60px;">
                                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="20px"
                                        fxLayoutGap.xs="0px" fxLayoutAlign="start" style="height: 60px;">
                                        <div fxFlex="80">
                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.xs="100">
                                                <input matInput [matDatepicker]="StartDatePicker"
                                                    placeholder="From Date" aria-invalid="false"
                                                    formControlName="StartDateI" name="StartDate">
                                                <mat-datepicker-toggle matSuffix [for]="StartDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #StartDatePicker></mat-datepicker>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.xs="100"
                                                style="margin-left: 16px;">
                                                <input matInput [matDatepicker]="EndDatePicker" placeholder="To Date"
                                                    aria-invalid="false" formControlName="EndDateI" name="EndDate">
                                                <mat-datepicker-toggle matSuffix [for]="EndDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #EndDatePicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>


                                        <div fxLayout="row" fxLayoutAlign="end start" fxLayoutAlign.md="center center"
                                            fxLayoutAlign.xs="center center" fxFlex="1 0 auto" fxLayoutGap="5px">
                                            <button mat-mini-fab class="accent" (click)="SearchActiveClientsIn(1)">
                                                <mat-icon aria-hidden="true">check</mat-icon>
                                            </button>
                                            <button mat-mini-fab class="accent" (click)="ClearActiveClientsIn(1)">
                                                <mat-icon aria-hidden="true">close</mat-icon>
                                            </button>
                                        </div>


                                    </div>
                                </div>
                                <div fxLayoutAlign="center center">
                                    <!-- <google-chart [title]="title1" [type]="type1" [data]="data1" [columnNames]="columnNames1"
                            [options]="options1" [width]="width1" [height]="height1">
                        </google-chart> -->
                                    <ngx-charts-pie-chart [view]="[400, 300]"
                                        [scheme]="{domain: ['#4000ff', '#ff6600', '#3399ff','#00b33c','	#b300b3']}"
                                        [results]="data1" [legend]="false" [labels]="true" [doughnut]="true">
                                    </ngx-charts-pie-chart>
                                </div>

                                <div class="fuse-widget-front mat-elevation-z2">
                                    <div class="content-card example-container p-0 mat-white-bg">
                                        <table mat-table [dataSource]="getMostActiveClients" class="products-table">

                                            <ng-container matColumnDef="Client">
                                                <th mat-header-cell *matHeaderCellDef><b>Client</b>
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.tempCompanyName}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ClientType">
                                                <th mat-header-cell *matHeaderCellDef><b>Type</b> </th>
                                                <td mat-cell *matCellDef="let element"> {{element.tempClientType}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ActiveCases">
                                                <th mat-header-cell *matHeaderCellDef style="
                                    width: 96px;"><b>Active Cases</b> </th>
                                                <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
                                                    {{element.tempClientCount}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Percentage">
                                                <th mat-header-cell *matHeaderCellDef><b>% Active Cases</b> </th>
                                                <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
                                                    {{element.tempPercentage}}%
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayActiveClients"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayActiveClients;"></tr>
                                        </table>
                                        <div *ngIf="ACIDisplay" class="contentCenter">
                                            <p style="color: red;">{{ InMessage }}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </fuse-widget>

                    <!-- New code for MostActive client for Retail -->

                    <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-widget-front mat-elevation-z2">

                            <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="headerText">Most Active Clients (Retail)</span><span>Top 5 Clients</span>
                            </div>

                            <form [formGroup]="ActiveClients" name="ActiveClients" class="p-24" fxLayout="column"
                                fxLayoutAlign="start" fxFlex="1 0 auto">

                                <div fxLayout="column" fxLayout.xs="column" fxLayout.md="column" style="height: 60px;">
                                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="20px"
                                        fxLayoutGap.xs="0px" fxLayoutAlign="start" style="height: 60px;">
                                        <div fxFlex="80">
                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.xs="100">
                                                <input matInput [matDatepicker]="StartDatePicker1"
                                                    placeholder="From Date" aria-invalid="false"
                                                    formControlName="StartDate" name="StartDate">
                                                <mat-datepicker-toggle matSuffix [for]="StartDatePicker1">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #StartDatePicker1></mat-datepicker>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.xs="100"
                                                style="margin-left: 16px;">
                                                <input matInput [matDatepicker]="EndDatePicker1" placeholder="To Date"
                                                    aria-invalid="false" formControlName="EndDate" name="EndDate">
                                                <mat-datepicker-toggle matSuffix [for]="EndDatePicker1">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #EndDatePicker1></mat-datepicker>
                                            </mat-form-field>
                                        </div>


                                        <div fxLayout="row" fxLayoutAlign="end start" fxLayoutAlign.md="center center"
                                            fxLayoutAlign.xs="center center" fxFlex="1 0 auto" fxLayoutGap="5px">
                                            <button mat-mini-fab class="accent" (click)="SearchActiveClientsRe(2)">
                                                <mat-icon aria-hidden="true">check</mat-icon>
                                            </button>
                                            <button mat-mini-fab class="accent" (click)="ClearActiveClientsRe(2)">
                                                <mat-icon aria-hidden="true">close</mat-icon>
                                            </button>
                                        </div>


                                    </div>
                                </div>

                                <div fxLayoutAlign="center center">
                                    <!-- <google-chart [title]="title2" [type]="type2" [data]="data2" [columnNames]="columnNames1"
                            [options]="options1" [width]="width1" [height]="height1">
                        </google-chart> -->
                                    <ngx-charts-pie-chart [view]="[400, 300]"
                                        [scheme]="{domain: ['#4000ff', '#ff6600', '#3399ff','#00b33c','	#b300b3']}"
                                        [results]="data2" [legend]="false" [labels]="true" [doughnut]="true">
                                    </ngx-charts-pie-chart>

                                </div>

                                <div class="fuse-widget-front mat-elevation-z2">
                                    <div class="content-card example-container p-0 mat-white-bg">
                                        <table mat-table [dataSource]="getMostActiveClientsR" class="products-table">

                                            <ng-container matColumnDef="Client">
                                                <th mat-header-cell *matHeaderCellDef><b>Client</b>
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.tempCompanyName}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ClientType">
                                                <th mat-header-cell *matHeaderCellDef><b>Type</b> </th>
                                                <td mat-cell *matCellDef="let element"> {{element.tempClientType}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ActiveCases">
                                                <th mat-header-cell *matHeaderCellDef style="
                                    width: 96px;padding-left: 25px;"><b>Active Cases</b> </th>
                                                <td mat-cell *matCellDef="let element" style="padding-left: 25px;">
                                                    {{element.tempClientCount}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Percentage">
                                                <th mat-header-cell *matHeaderCellDef><b>% Active Cases</b> </th>
                                                <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
                                                    {{element.tempPercentage}}%
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayActiveClients"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayActiveClients;"></tr>
                                        </table>
                                        <div *ngIf="ACRDisplay" class="contentCenter">
                                            <p style="color: red;">{{ ReMessage }}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </fuse-widget>

                  
                    <div class="contentCenter p-24" *ngIf="(working || errorText)">
                        <div *ngIf="working">
                            <mat-spinner [diameter]="40"></mat-spinner>
                        </div>
                        <div *ngIf="errorText">
                            <p style="color: red;">{{ errorText }}</p>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="ShowBPS">
                <ng-template mat-tab-label>
                    <div style="display:block;">

                        <div style="font-size: 16px;">BPS & Outcomes</div>
                    </div>
                    <div style="padding-left: 30%;" fxHide fxShow.gt-md>

                    </div>
                </ng-template>
                <div class="widget-group pl-4 pr-4" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                    [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                    <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-widget-front mat-elevation-z2">
                            <!-- 
                        <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="headerText">BPS And Outcomes by defined Dates</div>
                        </div> -->
                            <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="headerText">BPS Outcomes</div>

                                <button mat-icon-button fuseWidgetToggle aria-label="more">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </div>
                            <div fxflex="0 1 auto" fxLayout="row" style="position: relative;padding-left: 10%;">
                                <form class="p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                                    name="BPSByDefinedDate" [formGroup]="BPSByDefinedDate">
                                    <mat-radio-group formControlName="BPSDuration">
                                        <mat-radio-button [value]="2" class="example-ripple-checkbox"
                                            style="float: right;" (change)="BPSByDefinedDates(2)">
                                            This Year</mat-radio-button>
                                        <mat-radio-button [value]="1" class="example-ripple-checkbox mr-8"
                                            style="float: right;" (change)="BPSByDefinedDates(1)">This Month
                                        </mat-radio-button>
                                        <mat-radio-button [value]="0" class="example-ripple-checkbox mr-8"
                                            style="float: right;" (change)="BPSByDefinedDates(0)">This Week
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </form>
                            </div>
                            <div *ngIf="BPSErrorMsg" class="contentCenter">
                                <p style="color: red;">No Data</p>
                            </div>
                            <div fxflex="0 1 auto">
                                <div style="text-align: center;">
                                    <p style="color: black;">PRIMARY BPS</p>
                                </div>
                            <div fxLayoutAlign="center center">
                                
                                <ngx-charts-pie-chart [view]="[500,400]"
                                [customColors]="customColors" [results]="BPSResult"
                                    [legend]="false" [labels]="true" [trimLabels]="false" [doughnut]="flase">
                                </ngx-charts-pie-chart>
                            </div>

                     
                    </div>
                        </div>

                        <div class="fuse-widget-back p-16 pt-32 mat-elevation-z2">
                            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="Flip widget">
                                <mat-icon class="s-16">close</mat-icon>
                            </button>
                            <form class="p-24 pt-44 " fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                                name="BPSByDefinedDate1" [formGroup]="BPSByDefinedDate1">

                                <div fxLayout="column" fxLayout.xs="column" fxLayout.md="column">
                                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="20px"
                                        fxLayoutGap.xs="0px" fxLayoutAlign="start">
                                        <div fxFlex="85">
                                            <mat-form-field appearance="outline" fxFlex="100">
                                                <mat-label>Select Sector</mat-label>
                                                <mat-select #select (selectionChange)="onChangeBPSClientType($event)"
                                                    formControlName="BPSClientTypeId">
                                                    <mat-option value=0 selected>All</mat-option>
                                                    <mat-option value=1>Insurance</mat-option>
                                                    <mat-option value=2>Retail</mat-option>
                                                </mat-select>
                                            </mat-form-field>


                                            <mat-form-field appearance="outline" fxFlex="100"
                                                style="margin-left: 16px;">
                                                <mat-label>Select Client</mat-label>
                                                <mat-select formControlName="BPSClientId">
                                                    <mat-option *ngFor="let C of ddlBPSClientDetails"
                                                        [value]="C.clientId">
                                                        {{C.companyName}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="18">
                                            <div fxLayout="row" fxLayoutAlign="end start"
                                                fxLayoutAlign.md="center center" fxLayoutAlign.xs="center center"
                                                fxFlex="1 0 auto" fxLayoutGap="5px">

                                                <button mat-mini-fab class="accent" (click)="SearchBPS()">
                                                    <mat-icon aria-hidden="true">check</mat-icon>
                                                </button>
                                                <button mat-mini-fab class="accent" (click)="ClearBPS()">
                                                    <mat-icon aria-hidden="true">close</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxLayout="row" fxLayout.lg="column" fxLayoutAlign="start" fxLayoutGap="20px"
                                        fxLayoutGap.sm="20px" fxLayoutGap.xs="0px">

                                        <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100">
                                            <input matInput readonly [matDatepicker]="BPSFromDatePicker"
                                                placeholder="From Date" aria-invalid="false"
                                                formControlName="BPSStartDate">
                                            <mat-datepicker-toggle matSuffix [for]="BPSFromDatePicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #BPSFromDatePicker></mat-datepicker>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100"
                                            style="margin-left: 16px;">
                                            <input matInput readonly [matDatepicker]="BPSToDatePicker"
                                                placeholder="To Date" aria-invalid="false" formControlName="BPSEndDate">
                                            <mat-datepicker-toggle matSuffix [for]="BPSToDatePicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #BPSToDatePicker></mat-datepicker>
                                        </mat-form-field>

                                    </div>

                                    <div class="fuse-widget-back p-16 pt-32 mat-elevation-z2">
                                        <div class="content-card example-container p-0 mat-white-bg">
                                            <table mat-table [dataSource]="GetBPSGrid" class="products-table">

                                                <ng-container matColumnDef="BPSName">
                                                    <th mat-header-cell *matHeaderCellDef><b>Name</b>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.tempName}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Count">
                                                    <th mat-header-cell *matHeaderCellDef><b>Count</b> </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.tempCount}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Percentage">
                                                    <th mat-header-cell *matHeaderCellDef><b>Percentage</b> </th>
                                                    <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
                                                        {{element.tempPercentage}}%
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="BPSDetailsClumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: BPSDetailsClumns;"></tr>
                                            </table>
                                            <div *ngIf="BPSDisplay" class="contentCenter">
                                                <p style="color: red;">{{ BPSMessage }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <!-- <div class="fuse-widget-front mat-elevation-z2"> -->

                        <!-- </div> -->
                    </fuse-widget>

                    <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-widget-front mat-elevation-z2">
                            <!-- 
                        <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="headerText">BPS And Outcomes by defined Dates</div>
                        </div> -->
                            <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="headerText">BPS Outcomes</div>

                                <button mat-icon-button fuseWidgetToggle aria-label="more">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </div>
                            <div fxflex="0 1 auto" fxLayout="row" style="position: relative;padding-left: 10%;">
                                <form class="p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                                    name="SECBPSByDefinedDate" [formGroup]="SECBPSByDefinedDate">
                                    <mat-radio-group formControlName="SECBPSDuration">
                                        <mat-radio-button [value]="2" class="example-ripple-checkbox"
                                            style="float: right;" (change)="SECBPSByDefinedDates(2)">
                                            This Year</mat-radio-button>
                                        <mat-radio-button [value]="1" class="example-ripple-checkbox mr-8"
                                            style="float: right;" (change)="SECBPSByDefinedDates(1)">This Month
                                        </mat-radio-button>
                                        <mat-radio-button [value]="0" class="example-ripple-checkbox mr-8"
                                            style="float: right;" (change)="SECBPSByDefinedDates(0)">This Week
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </form>
                            </div>
                            <div *ngIf="SECBPSErrorMsg" class="contentCenter">
                                <p style="color: red;">No Data</p>
                            </div>
                           
                            <div fxflex="0 1 auto">
                               
                            <!-- <div class="border border-light"> -->
                                <div style="text-align: center;">
                                    <p style="color: black;">SECONDARY BPS</p>
                                </div>
                                
                            <div fxLayoutAlign="center center">
                                
                                <ngx-charts-pie-chart [view]="[500,400]"
                                [customColors]="customColors" [results]="SECBPSResult"
                                    [legend]="false" [labels]="true" [trimLabels]="false" [doughnut]="flase">
                                </ngx-charts-pie-chart>
                            </div>
                        <!-- </div> -->
                     
                    </div>
                        </div>

                        <div class="fuse-widget-back p-16 pt-32 mat-elevation-z2">
                            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="Flip widget">
                                <mat-icon class="s-16">close</mat-icon>
                            </button>
                            <form class="p-24 pt-44 " fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                                name="SECBPSByDefinedDate1" [formGroup]="SECBPSByDefinedDate1">

                                <div fxLayout="column" fxLayout.xs="column" fxLayout.md="column">
                                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="20px"
                                        fxLayoutGap.xs="0px" fxLayoutAlign="start">
                                        <div fxFlex="85">
                                            <mat-form-field appearance="outline" fxFlex="100">
                                                <mat-label>Select Sector</mat-label>
                                                <mat-select #select (selectionChange)="onChangeBPSClientType($event)"
                                                    formControlName="SECBPSClientTypeId">
                                                    <mat-option value=0 selected>All</mat-option>
                                                    <mat-option value=1>Insurance</mat-option>
                                                    <mat-option value=2>Retail</mat-option>
                                                </mat-select>
                                            </mat-form-field>


                                            <mat-form-field appearance="outline" fxFlex="100"
                                                style="margin-left: 16px;">
                                                <mat-label>Select Client</mat-label>
                                                <mat-select formControlName="SECBPSClientId">
                                                    <mat-option *ngFor="let C of ddlBPSClientDetails"
                                                        [value]="C.clientId">
                                                        {{C.companyName}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="18">
                                            <div fxLayout="row" fxLayoutAlign="end start"
                                                fxLayoutAlign.md="center center" fxLayoutAlign.xs="center center"
                                                fxFlex="1 0 auto" fxLayoutGap="5px">

                                                <button mat-mini-fab class="accent" (click)="SearchSECBPS()">
                                                    <mat-icon aria-hidden="true">check</mat-icon>
                                                </button>
                                                <button mat-mini-fab class="accent" (click)="ClearSECBPS()">
                                                    <mat-icon aria-hidden="true">close</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxLayout="row" fxLayout.lg="column" fxLayoutAlign="start" fxLayoutGap="20px"
                                        fxLayoutGap.sm="20px" fxLayoutGap.xs="0px">

                                        <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100">
                                            <input matInput readonly [matDatepicker]="SECBPSFromDatePicker"
                                                placeholder="From Date" aria-invalid="false"
                                                formControlName="SECBPSStartDate">
                                            <mat-datepicker-toggle matSuffix [for]="SECBPSFromDatePicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #SECBPSFromDatePicker></mat-datepicker>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100"
                                            style="margin-left: 16px;">
                                            <input matInput readonly [matDatepicker]="SECBPSToDatePicker"
                                                placeholder="To Date" aria-invalid="false" formControlName="SECBPSEndDate">
                                            <mat-datepicker-toggle matSuffix [for]="SECBPSToDatePicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #SECBPSToDatePicker></mat-datepicker>
                                        </mat-form-field>

                                    </div>

                                    <div class="fuse-widget-back p-16 pt-32 mat-elevation-z2">
                                        <div class="content-card example-container p-0 mat-white-bg">
                                            <table mat-table [dataSource]="GetSECBPSGrid" class="products-table">

                                                <ng-container matColumnDef="BPSName">
                                                    <th mat-header-cell *matHeaderCellDef><b>Name</b>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.tempName}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Count">
                                                    <th mat-header-cell *matHeaderCellDef><b>Count</b> </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.tempCount}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Percentage">
                                                    <th mat-header-cell *matHeaderCellDef><b>Percentage</b> </th>
                                                    <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
                                                        {{element.tempPercentage}}%
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="BPSDetailsClumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: BPSDetailsClumns;"></tr>
                                            </table>
                                            <div *ngIf="SECBPSDisplay" class="contentCenter">
                                                <p style="color: red;">{{ SECBPSMessage }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <!-- <div class="fuse-widget-front mat-elevation-z2"> -->

                        <!-- </div> -->
                    </fuse-widget>
                    <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-widget-front mat-elevation-z2">

                            <div class="px-16 py-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="headerText">Outcomes</span>
                            </div>
                            <form [formGroup]="OutcomesFormGroup" name="OutcomesFormGroup" class="p-24"
                                fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                                <div fxLayout="column" fxLayout.xs="column" fxLayout.md="column" style="height: 60px;">
                                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="20px"
                                        fxLayoutGap.xs="0px" fxLayoutAlign="start" style="height: 60px;">
                                        <div fxFlex="80">
                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.xs="100">
                                                <input matInput [matDatepicker]="OutcomeStartDatePicker"
                                                    placeholder="From Date" aria-invalid="false"
                                                    formControlName="StartDate" name="StartDate">
                                                <mat-datepicker-toggle matSuffix [for]="OutcomeStartDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #OutcomeStartDatePicker></mat-datepicker>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.xs="100"
                                                style="margin-left: 16px;">
                                                <input matInput [matDatepicker]="OutcomeEndDatePicker"
                                                    placeholder="To Date" aria-invalid="false" formControlName="EndDate"
                                                    name="EndDate">
                                                <mat-datepicker-toggle matSuffix [for]="OutcomeEndDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #OutcomeEndDatePicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>


                                        <div fxLayout="row" fxLayoutAlign="end start" fxLayoutAlign.md="center center"
                                            fxLayoutAlign.xs="center center" fxFlex="1 0 auto" fxLayoutGap="5px">
                                            <button mat-mini-fab class="accent" (click)="CaseCloseReasonOutcome()">
                                                <mat-icon aria-hidden="true">check</mat-icon>
                                            </button>
                                            <button mat-mini-fab class="accent" (click)="ClearCloseReasonOutcomes()">
                                                <mat-icon aria-hidden="true">close</mat-icon>
                                            </button>
                                        </div>


                                    </div>
                                </div>
                                <div fxLayoutAlign="center center">
                                    <ngx-charts-pie-chart [view]="[400, 300]" [scheme]="'picnic'"
                                        [results]="CaseCloseReasondata" [legend]="false" [labels]="true"
                                        [doughnut]="true">
                                    </ngx-charts-pie-chart>

                                </div>

                                <div class="fuse-widget-front mat-elevation-z2">
                                    <div class="content-card example-container p-0 mat-white-bg">
                                        <table mat-table [dataSource]="getCaseCloseReasonOutcome"
                                            class="products-table">

                                            <ng-container matColumnDef="CloseReason">
                                                <th mat-header-cell *matHeaderCellDef><b>Close Reason</b>
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.tempReasonName}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Count">
                                                <th mat-header-cell *matHeaderCellDef style="padding-right: 9px;">
                                                    <b>Count</b>
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.tempReasonCount}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Percentage">
                                                <th mat-header-cell *matHeaderCellDef><b>Percentage</b> </th>
                                                <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
                                                    {{element.tempPercentage}}%
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayReasonClose"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayReasonClose;"></tr>
                                        </table>
                                        <div *ngIf="OutcomeDisplay" class="contentCenter">
                                            <p style="color: red;">{{ OutcomeMessage }}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </fuse-widget>
                    <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-widget-front mat-elevation-z2">

                            <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="headerText">Clinical Reason for Absence / Claim</div>
                            </div>


                            <form class="p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                                name="ReasonForReferalGrid" [formGroup]="ReasonForReferalGrid">


                                <div fxLayout="column" fxLayout.xs="column" fxLayout.md="column" style="height: 60px;">
                                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="20px"
                                        fxLayoutGap.xs="0px" fxLayoutAlign="start" style="height: 60px;">
                                        <div fxFlex="80">
                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100">
                                                <input matInput readonly [matDatepicker]="ReasonReferalFromDatePicker"
                                                    placeholder="From Date" aria-invalid="false"
                                                    formControlName="ReasonReferalStartDate">
                                                <mat-datepicker-toggle matSuffix [for]="ReasonReferalFromDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #ReasonReferalFromDatePicker></mat-datepicker>
                                            </mat-form-field>
    
                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100"
                                                style="margin-left: 16px;">
                                                <input matInput readonly [matDatepicker]="ReasonReferalToDatePicker"
                                                    placeholder="To Date" aria-invalid="false"
                                                    formControlName="ReasonReferalEndDate">
                                                <mat-datepicker-toggle matSuffix [for]="ReasonReferalToDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #ReasonReferalToDatePicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>


                                   <div fxLayout="row" fxLayoutAlign="end start"
                                                fxLayoutAlign.md="center center" fxLayoutAlign.xs="center center"
                                                fxFlex="1 0 auto" fxLayoutGap="5px">
                                                <button mat-mini-fab class="accent" (click)="SearchReasonForReferal()">
                                                    <mat-icon aria-hidden="true">check</mat-icon>
                                                </button>
                                                <button mat-mini-fab class="accent" (click)="ClearReasonForReferal()">
                                                    <mat-icon aria-hidden="true">close</mat-icon>
                                                </button>
                                            </div>

                                    </div>
                                </div>
                                    <div fxLayout="row" fxLayout.lg="column" fxLayoutAlign="start" fxLayoutGap="20px"
                                        fxLayoutGap.sm="20px" fxLayoutGap.xs="0px">
                                        <mat-form-field appearance="outline" fxFlex="100">
                                            <mat-label>Select Sector</mat-label>
                                            <mat-select #select (selectionChange)="onReferralCaseChange($event)"
                                                formControlName="ClientTypeId">
                                                <mat-option value=0 selected>All</mat-option>
                                                <mat-option value=1>Insurance</mat-option>
                                                <mat-option value=2>Retail</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex="100" style="
                                margin-left: 16px;">
                                            <mat-label>Select Client</mat-label>
                                            <mat-select formControlName="RFRClientId">
                                                <mat-option *ngFor="let Assessor of ddlCRAAssessorDetails"
                                                    [value]="Assessor.clientId">
                                                    {{Assessor.companyName}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    
                                    </div>
                                <!-- </div> -->


                                <div class="fuse-widget-front mat-elevation-z2">
                                    <div class="content-card example-container p-0 mat-white-bg">
                                        <table mat-table [dataSource]="ReasonForReferalGridData" class="products-table">

                                            <ng-container matColumnDef="IllnessInjuryName">
                                                <th mat-header-cell *matHeaderCellDef><b>Impairment Type</b>
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.illnessInjuryName}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Percentage">
                                                <th mat-header-cell *matHeaderCellDef><b>Percentage</b> </th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{element.illnessInjuryPercentage}} %
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                                        </table>
                                        <div *ngIf="ReasonForReferalMessagedisplay" class="contentCenter">
                                            <p style="color: red;">{{ ReasonForReferalMessage }}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </fuse-widget>

                   
                    <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-widget-front mat-elevation-z2">

                            <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="headerText">Claimant & Employee Gender</div>
                            </div>

                            <form class="p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                                name="AverageClaimantAge" [formGroup]="ClaimantEmpDemographics">


                                <div fxLayout="column" fxLayout.xs="column" fxLayout.md="column" style="height: 60px;">
                                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="20px"
                                        fxLayoutGap.xs="0px" fxLayoutAlign="start" style="height: 60px;">
                                        <div fxFlex="80">
                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100">
                                                <input matInput [matDatepicker]="ClaimantFromDatePicker"
                                                    placeholder="From Date" aria-invalid="false"
                                                    formControlName="ClaimantReceivedStartDate">
                                                <mat-datepicker-toggle matSuffix [for]="ClaimantFromDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #ClaimantFromDatePicker></mat-datepicker>
                                            </mat-form-field>
    
                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100"
                                            style="margin-left: 16px;">
                                                <input matInput readonly [matDatepicker]="ClaimantToDatePicker"
                                                    placeholder="To Date" aria-invalid="false"
                                                    formControlName="ClaimantReceivedEndDate">
                                                <mat-datepicker-toggle matSuffix [for]="ClaimantToDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #ClaimantToDatePicker></mat-datepicker>
                                            </mat-form-field>
                                            
                                        </div>


                                   <div fxLayout="row" fxLayoutAlign="end start"
                                                fxLayoutAlign.md="center center" fxLayoutAlign.xs="center center"
                                                fxFlex="1 0 auto" fxLayoutGap="5px">
                                                <button mat-mini-fab class="accent" (click)="SearchClientDemographic()">
                                                    <mat-icon aria-hidden="true">check</mat-icon>
                                                </button>
                                                <button mat-mini-fab class="accent"
                                                    (click)="ClearClaimantDemographic()">
                                                    <mat-icon aria-hidden="true">close</mat-icon>
                                                </button>
                                            </div>

                                    </div>
                                </div>
                                    <div fxLayout="row" fxLayout.lg="column" fxLayoutAlign="start" fxLayoutGap="20px"
                                        fxLayoutGap.sm="20px" fxLayoutGap.xs="0px">
                                        <mat-form-field appearance="outline" fxFlex="100">
                                            <mat-label>Select Sector</mat-label>
                                            <mat-select #select (selectionChange)="onClaimantCaseChange($event)"
                                                formControlName="CEDClientTypeId">
                                                <mat-option value=0 selected>All</mat-option>
                                                <mat-option value=1>Insurance</mat-option>
                                                <mat-option value=2>Retail</mat-option>
                                            </mat-select>
                                        </mat-form-field>


                                        <mat-form-field appearance="outline" fxFlex="100"
                                            style="margin-left: 16px;">
                                            <mat-label>Select Client</mat-label>
                                            <mat-select formControlName="CEDClientId">
                                                <mat-option *ngFor="let Assessor of ddlCEDAssessorDetails"
                                                    [value]="Assessor.clientId">
                                                    {{Assessor.companyName}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    
                                    </div>
                                <div class="fuse-widget-front mat-elevation-z2">
                                    <div class="content-card example-container p-0 mat-white-bg">
                                        <table mat-table [dataSource]="GetClientDemographicGrid" class="products-table">

                                            <ng-container matColumnDef="Gender">
                                                <th mat-header-cell *matHeaderCellDef><b>Gender</b> </th>
                                                <td mat-cell *matCellDef="let element"> {{element.claimantGender}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="AverageAge">
                                                <th mat-header-cell *matHeaderCellDef><b>Average age</b>
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.avgDOB}} </td>
                                            </ng-container>



                                            <ng-container matColumnDef="Percentage">
                                                <th mat-header-cell *matHeaderCellDef><b>Percentage</b> </th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{element.genderPercentage}}%
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="DisplayClientDemographic"></tr>
                                            <tr mat-row *matRowDef="let row; columns: DisplayClientDemographic;"></tr>
                                        </table>
                                        <div *ngIf="CDDisplay" class="contentCenter">
                                            <p style="color: red;">{{ CDMessage }}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </fuse-widget>
                    <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-widget-front mat-elevation-z2">

                            <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="headerText">Average RTW Duration</div>


                            </div>

                            <form class="p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                                name="AverageRTWDuration" [formGroup]="AverageRTWDuration">

                                <div fxLayout="column" fxLayout.xs="column" fxLayout.md="column" style="height: 60px;">
                                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="20px"
                                        fxLayoutGap.xs="0px" fxLayoutAlign="start" style="height: 60px;">
                                        <div fxFlex="80">
                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100">
                                                <input matInput readonly [matDatepicker]="RTWFromDatePicker"
                                                    placeholder="From Date" aria-invalid="false"
                                                    formControlName="AverageDurationStartDate">
                                                <mat-datepicker-toggle matSuffix [for]="RTWFromDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #RTWFromDatePicker></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100"
                                            style="margin-left: 16px;">
                                                <input matInput readonly [matDatepicker]="RTWToDatePicker"
                                                    placeholder="To Date" aria-invalid="false"
                                                    formControlName="AverageDurationEndDate">
                                                <mat-datepicker-toggle matSuffix [for]="RTWToDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #RTWToDatePicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>


                                   <div fxLayout="row" fxLayoutAlign="end start"
                                                fxLayoutAlign.md="center center" fxLayoutAlign.xs="center center"
                                                fxFlex="1 0 auto" fxLayoutGap="5px">
                                                <button mat-mini-fab class="accent" (click)="SearchRTW()">
                                                    <mat-icon aria-hidden="true">check</mat-icon>
                                                </button>
                                                <button mat-mini-fab class="accent" (click)="ClearRTW()">
                                                    <mat-icon aria-hidden="true">close</mat-icon>
                                                </button>
                                            </div>

                                    </div>
                                </div>
                                    <div fxLayout="row" fxLayout.lg="column" fxLayoutAlign="start" fxLayoutGap="20px"
                                        fxLayoutGap.sm="20px" fxLayoutGap.xs="0px">
                                        <mat-form-field appearance="outline" fxFlex="100">
                                            <mat-label>Select Sector</mat-label>
                                            <mat-select #select (selectionChange)="onCaseChange($event)"
                                                formControlName="RTWClientTypeId">
                                                <mat-option value=0 selected>All</mat-option>
                                                <mat-option value=1>Insurance</mat-option>
                                                <mat-option value=2>Retail</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex="100" style="
                            margin-left: 16px;">
                                            <mat-label>Select Client</mat-label>
                                            <mat-select formControlName="RTWClientId">
                                                <mat-option *ngFor="let Assessor of ddlARDAssessorDetails"
                                                    [value]="Assessor.clientId">
                                                    {{Assessor.companyName}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    
                                    </div>
                                <div class="fuse-widget-front mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52 border-bottom teal" fxLayout="row"
                                        fxLayoutAlign="center center">
                                        <span class="font-size-18">Average RTW Duration</span>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="line-height-72">
                                            <span class="font-size-50"># </span>
                                            <span class="light-blue-fg font-size-50">{{avgRTWDuration}}</span>
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">Days
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </fuse-widget>



                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>