<div fxLayout="column" fxFlex="100">
    <mat-toolbar class="p-0 mat-elevation-z1">

        <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar"
                    (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                    <mat-icon class="secondary-text">menu</mat-icon>
                </button>

                <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

 
                <div class="logo ml-20">
                    <!-- <img src="assets/images/logos/MetLifeLogo.jpg"> -->
                    <!-- <img class="logo-icon" src="assets/images/logos/HCBLogo.jpg"> -->
                    <!-- <img class="logo-icon" src="assets/images/logos/Logo.png"> -->
                    <img class="logo-icon" src="assets/images/logos/ORCA.png">
                </div>
                <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="center center">

                    <!-- <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div> -->
    
                        <!-- <span class="headerText"> Early Intervention & Funded Treatment Management</span> -->
                        <span class="headerText" style="font-size: 25px;"
                    > {{Title}}</span>
                  
    
                </div>
        

     

            <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
    
                <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <!-- <img class="avatar mr-0 mr-sm-16" src="assets/images/avatars/Velazquez.jpg"> -->
                        <span class="username mr-12" fxHide fxShow.gt-sm>{{userName}}</span>
                        <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                    </div>
                </button>

                <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item class="" (click)="Logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                    </button>
                    <button mat-menu-item class="" (click)="switchPage()" *ngIf="displayOrNot">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>{{MenuName}}</span>
                    </button>

                </mat-menu>

            </div>
        </div>
        </div>
    </mat-toolbar>

    <div *ngIf="ShowToolbar">
<mat-toolbar class="m-0  mb-md-0" style="height:40px">
        <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row"
            fxLayoutAlign.gt-md="space-between center" style="height: 40px;"> 
        
           {{SubTitle}}
        </mat-toolbar-row>
    </mat-toolbar> 
    </div>

    <div fxLayout="column" fxFlex="100" *ngIf="ShowOPSToolbar" fxlayoutalign="space-between" class="header accent">
        <div  fxLayout="row" fxlayoutalign="space-between start" style="padding-left: 8px;">
            <span class="mat-display1 my-0 my-sm-20 welcome-message ">Hello {{UserFirstName}} Welcome to ORCA !</span>
        </div>
            <div fxLayout="row"
                style="padding-bottom: 4px;padding-top: 4px;height: 10px;padding-left: 8px;">
                <div class="select-Project font-size-10 text-center"> CASE MANAGEMENT SYSTEM</div>


    <div class="project-selector font-size-10 text-center"  *ngIf="displayOrNot">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>more_horiz</mat-icon>
        </button>
     </div>
     <mat-menu  #userMenu="matMenu">
        <button mat-menu-item (click)="switchPage()">
            <mat-icon>exit_to_app</mat-icon>
            <span>{{MenuName}}</span>
            </button>
    </mat-menu>
</div>  



        

    </div>
</div>