@import "src/@fuse/scss/fuse";

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
        height: 60px !important;
 
    }
    .mat-toolbar-multiple-rows {
        min-height: 40px;
    }
    .mat-toolbar-row {
        height: 40px;
    }
    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
           // width: 200px;
            height: 55px;
        }
        .headerText{
            font-size: 25px;  //26
            font-weight: 700;
            @include media-breakpoint('sm') {
                font-size: 25px;  //16
                font-weight: 700;
            }
            @include media-breakpoint('xs') {
                font-size: 25px;    //16
                font-weight: 700;
            }
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 60px;
        height: 60px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 50px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
    .header{
        height: 114px;
        min-height: 114px;
        max-height:114px;
    }
    .select-Project 
    {
        background:  #669933;
        //rgba(0,0,0,.12);
    color: #fff;
    padding: 8px 16px;
    height: 40px;
    line-height: 20px;
    font-size: 16px;
    border-radius: 8px 0 0 0;
    }
    .mat-display1{
        font: 400 24px/30px Muli,Helvetica Neue,Arial,sans-serif;
        letter-spacing: normal;
        margin: 0 0 64px;
    }
    // .project-selector {
    //     margin-left: 1px;
    //     background: #669933;;
    //     border-radius: 0 8px 0 0;

    //     mat-icon {
    //         color: #FFFFFF;
    //     }
    // }

    .project-selector{
    //     margin-left: 1px;
    // background:  #669933;
    // border-radius: 0 8px 0 0;
    background:  #669933;
    margin-left: 1px;
    //rgba(0,0,0,.12);
color: #fff;

height: 40px;

border-radius: 0 8px 0 0;
    }
    
    
}
