<div id="SubsequentActivity" class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    list_alt
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Subsequent Activity
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="m-0" fusePerfectScrollbar>
        <form name="SubsequentActivity" [formGroup]="SubsequentActivity" (ngSubmit)="SaveSubsequentActivity()"
            class="pt-12 pb-12" novalidate autocomplete="off">

            <mat-form-field style="width: 100%;">
                <mat-label>Subsequent Activity</mat-label>
                <input matInput formControlName="SubsequentActivityName">
                <mat-error *ngIf="SubsequentActivity.get('SubsequentActivityName').hasError('required')"
                    class="alert alert-danger">
                    Required</mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="ReminderCheck" (change)="onCheckChange()">Reminder!</mat-checkbox>

            <mat-form-field *ngIf="Showdate" style=" width: 100%">
                <input matInput [matDatepicker]="ReminderDatepicker" placeholder="Reminder Date" aria-invalid="false"
                    formControlName="ReminderDate">
                <mat-datepicker-toggle matSuffix [for]="ReminderDatepicker"> </mat-datepicker-toggle>
                <mat-datepicker #ReminderDatepicker></mat-datepicker>
                <!-- <mat-error *ngIf="!SubsequentActivity.get('ReminderDate').hasError('dateVaidator')">Date Required
                </mat-error>
                <mat-error *ngIf="SubsequentActivity.get('ReminderDate').hasError('dateVaidator')">Please Provide a
                    Valid Date format dd/mm/yyyy</mat-error>
            </mat-form-field> -->
                <mat-error
                    *ngIf="SubsequentActivity.get('ReminderDate').hasError('required') && !SubsequentActivity.get('ReminderDate').hasError('dateVaidator')">
                    Date Required</mat-error> 
                <mat-error *ngIf="SubsequentActivity.get('ReminderDate').hasError('dateVaidator')">Please Provide a
                    Valid Date format dd/mm/yyyy</mat-error>
                <mat-error *ngIf="SubsequentActivity.get('ReminderDate').hasError('dateVaidator1')">Date Must be greater
                    than today's date
                </mat-error>
            </mat-form-field>
            <div class="contentCenter p-12">
                <div>
                    <button mat-raised-button color="accent" type="submit" [disabled]="SubsequentActivity.invalid">
                        Save
                    </button>
                    <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()"
                        style="margin-left: 10px;">
                        Cancel
                    </button>
                </div>
                <div *ngIf="errorText" class="mt-16">
                    <p style="color: red;">{{ errorText }}</p>
                </div>
                <div *ngIf="working" class="mt-16">
                    <mat-spinner [diameter]="25"></mat-spinner>
                </div>
            </div>
        </form>
    </div>
</div>